@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #224941 url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fgfycat.com%2Fgifs%2Fsearch%2Fnils%2Blindb%25C3%25A4ck&psig=AOvVaw1UBs9rCP5QNCf9BhP36mlW&ust=1635997631141000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPiDnp-k-_MCFQAAAAAdAAAAABA5') no-repeat center center/cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.gradient-circle {
    background: conic-gradient(
        #cc19cc 0%,
        #612363 40%,
        rgba(255, 255, 255, 0.637) 40%,
        rgba(255, 255, 255, 0) 60%,
        #5c1b88 60%,
        #824a8a 100%
    );
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: #4e0833;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}
